---
layout: default
---

<div id="main" role="main">
  {% include sidebar.html %}

  <div id="intro">
    <h1> ./whoami </h1>
    <p> This was a long time hobby that never saw day light, mostly because I code at night and work on other people code issues during day.

I will report my journey for 2018 and the upcoming plans for the next months regarding the IT field.

Security is a passion and my daily job, I feel fortunate for that but I believe the journey is just begining.

The first time I wired up my PC to Internet I was 10 years old and back in that day we had 56 kbps dial-up connection, since that first contact it wasn't possible to spend a day offline.

The great days of Altavista and other handy information available on IRC... it was a dream.

In words of Kevin Mitnik:
> There is no path for stupify.

TLDR; no probs here give me a call :wink:

```c
if (justMetYou)
{ crazy = true;
  printf("here: %s", number);
  int x = rand()%100;
  if (x >= 50)
  {
    callMe();
  }
}
```
    </p>
  </div>
  
</div>
