---
layout: default
---

<div id="main" role="main">
  {% include sidebar.html %}

    <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1> ./whoami </h1>
      <p>Security is a passion and my daily job, I feel fortunate for that but I believe the journey is just beginning.</p>
      <p>I recall the first time I wired up my PC to Internet, probably I was around 10 years old and back in that day we had 56 kbps dial-up connection, since that first contact it wasn&#39;t possible to spend a day offline.</p>
      <p>The great days of Altavista and other handy information available on IRC... it was a dream.</p>
      <p>In words of Kevin Mitnik:</p>
      <blockquote>
      <p><em>There is no path for stupify.</em></p>
      </blockquote>
      <p><strong>Always remember...</strong></p>
      <p><img src="{{ site.baseurl }}/assets/images/planet.jpeg" alt="zero-cool" style="height: 280px; width: 460px;"/></p>
    {% endunless %}
    {{ content }}
  </div>  
</div>
